.article {
  box-sizing: border-box;
  text-align: center;
  color: #152059;
}

/* rehype react會多放一層<div> QQ */
.article > div > h1 {
  font-size: 2.9rem;
  letter-spacing: 0.2rem;
  font-weight: bolder;
}
