.foldable {
  text-align: left;
  border-bottom: 2px solid #dbdee3;
  margin-bottom: 1rem;
  cursor: pointer;

  .summary {
    font-size: 1.2rem;
    font-weight: 700;
    letter-spacing: 0.15rem;
    border-right: 9px solid #152059;
    min-height: 5rem;
    margin-bottom: 0.5rem;
    padding-right: 10%;
    color: #464c59;
    overflow: hidden; // svg float left + p overflow hidden讓文字不wrap到圖片下

    &::selection {
      background: none;
    }
    // &::before { // 變色比較麻煩，位置比較簡單的箭頭
    //   content: url('../images/Arrow.svg');
    //   display: inline-block;
    //   margin: 1%;
    //   transform: translateY(1rem) scale(0.7);
    // }
  }

  svg {
    // 變色很容易，調位置很麻煩的箭頭
    margin: 1%;
    transform: translateY(-1rem) scale(0.7);
    float: left;
  }

  .detail {
    padding-left: calc(52px + 2%); // 52px︰svg的寬度，2%︰margin
    padding-right: 5%;
    font-size: 1.1rem;
    font-weight: 600;
    letter-spacing: 0.12rem;
    color: #6f737c;
  }
}

.arrow__clicked {
  & > path {
    // 變色很容易，調位置很麻煩的箭頭，點擊之後變色
    fill: #7bd6ef;
    transform: rotate(180deg);
    transform-origin: 26px 19px;
  }
}
