.presenter {
  display: flex;
  flex-flow: row nowrap;
  background-color: #d6dae0;
  justify-content: center;
  padding: 5vh 0;
}

/* .presenter > div {
  color: #152059;
} */

.presenter > div > p {
  text-align: left;
  font-weight: 600;
  font-size: 1.2rem;
  line-height: 1.5rem;
  color: #696d7f;
  white-space: pre-line;
  margin: 0;
}

.presenter > div > h1 {
  font-size: 1.7rem;
  font-weight: 900;
  margin-bottom: 0;
}

.presenter > div > hr {
  width: 50%;
  height: 0;
  margin-top: 0.7rem;
  margin-bottom: 0;
  border: 2px solid #152059;
}
